@tailwind base;
@tailwind components;
@tailwind utilities;

*, input, button {
  font-family: 'Space Mono', monospace;
}

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-camera:before {
  content: "\e925";
}
.icon-error-outline:before {
  content: "\e912";
}
.icon-warning:before {
  content: "\e916";
}
.icon-naught:before {
  content: "\e907";
}
.icon-disconnected:before {
  content: "\e919";
}
.icon-add:before {
  content: "\e90d";
}
.icon-x:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e924";
}
.icon-remove:before {
  content: "\e921";
}
.icon-send:before {
  content: "\e91b";
}
.icon-undo:before {
  content: "\e91c";
}
.icon-connected:before {
  content: "\e91a";
}
.icon-download:before {
  content: "\e913";
}
.icon-camera:before {
  content: "\e914";
}
.icon-center:before {
  content: "\e915";
}
.icon-zoom-out:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e926";
}
.icon-menu:before {
  content: "\e927";
}
.icon-more:before {
  content: "\e91d";
}
.icon-arrow-up:before {
  content: "\e917";
}
.icon-checkmark:before {
  content: "\e91e";
}
.icon-pop-out:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e918";
}
.icon-help-outline:before {
  content: "\e928";
}
.icon-refresh-camera:before {
  content: "\e90c";
}
.icon-filter:before {
  content: "\e922";
}
.icon-open-full:before {
  content: "\e923";
}
.icon-refresh:before {
  content: "\e911";
}
.icon-info-outline:before {
  content: "\e910";
}
.icon-pause-circle-filled:before {
  content: "\e90e";
}
.icon-play-circle-filled:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-social-medium:before {
  content: "\e906";
}
.icon-save:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
  color: #555;
}
.icon-github:before {
  content: "\e91f";
}
.icon-stop-circle:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-trash:before {
  content: "\e905";
}
