@tailwind base;
@tailwind components;
@tailwind utilities;

*,
input,
button {
  font-family: inherit;
}

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

/* Just give me the CSS classes option */
.button-link {
  @apply flex h-7.5 items-center gap-1.5 whitespace-nowrap px-3 py-1.5 text-xs;
}

.button-link-ghost {
  @apply button-link text-default hover:bg-ghost-light active:bg-ghost-medium;
}

.button-link-dark {
  @apply button-link border border-gray-9 bg-gray-9 text-white hover:border-black hover:bg-black active:bg-[#000];
}
